<div class="container">
  <!--binding to custom events-->
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
    (onYell2)="yell($event)"
  ></app-cockpit>
  <hr />
  <div class="row">
    <!-- <app-server-element
      *ngFor="let serverElement of serverElements"
      [element]="serverElement" -->

    <!--binding Alias to Custom properties-->
    <button class="btn btn-primary" (click)="onChangeFirst()">
      Change first Element
    </button>

    <button class="btn btn-danger" (click)="onDestroyFirst()">
      Destroy first component
    </button>

    <app-server-element
      *ngFor="let serverElement of serverElements"
      [srvElement]="serverElement"
      [name]="serverElement.name"
      [ninja]="ninja"
    >
      <p #contentParagraph>
        <strong *ngIf="serverElement.type === 'server'" style="color: red">{{
          serverElement.content
        }}</strong>
        <em *ngIf="serverElement.type === 'blueprint'">{{
          serverElement.content
        }}</em>
      </p>
    </app-server-element>
  </div>
</div>
